.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
    font-size: 1.5rem;
    margin: 0.2rem auto;
}

h2 {
    font-size: 1.25rem;
}

textarea {
    min-width: 95vw;
}

#one {
    max-width: 95vw;
    border: 1px black solid;
    margin: auto;
    border-radius: 3px;
    margin-bottom: .5rem;
}

#preview {
    width: 90%;
}

#preview * {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#preview li {
    width: fit-content;
    margin-left: 0;
}

footer {
    font-size: 0.75rem;
}